{% extends "base.html" %}

{% block content %}
    <h1>Dice 10000</h1>
    <div>Strategy A: Only roll until the score of the turn is up to one number(i.e. 500)</div><br></br>
    <div>Strategy B: Only roll if you have a certain number of dice(1-6)</div><br></br>
    <div>Strategy A vs A for different numbers <a href="/AA">Try it!</a></div><br></br>
    <div>Strategy A vs B for different numbers <a href="/AB">Try it!</a></div><br></br>
    <div>Strategy B vs B for different numbers <a href="/BB">Try it!</a></div><br></br>
    <div>Best strategy for A <a href="/bestA">Try it!</a></div><br></br>
    <div>Best strategy for B <a href="/bestB">Try it!</a></div><br></br>
{% endblock %}