{% extends "base.html" %}

{% block content %}
    <h1>Dice 10000</h1>
    <div>What is <a href="http://www.dice-play.com/Games/TenThousand.htm">Dice 10000</a>?</div><br></br>
    <div><a href="/rules">Rules </a></div><br></br>
    <div> <a href="/demo">Demo</a></div><br></br>
    <div>Strategy A: Only roll until the score of the turn is up to one number(i.e. 500)</div><br></br>
    <div>Strategy B: Only roll if you have a certain number of dice(1-6)</div><br></br>
    <div>Strategy AB: Roll until you have a certain number of dice then roll until the score during the turn is up to a number</div><br></br>
    <div> <a href="/AA">Strategy A vs A for different numbers</a></div><br></br>
    <div> <a href="/AB">Strategy A vs B for different numbers</a></div><br></br>
    <div> <a href="/BB">Strategy B vs B for different numbers</a></div><br></br>
    <div> <a href="/bestA">Find the best strategy for A</a></div><br></br>
    <div> <a href="/bestB">Find the best strategy for B</a></div><br></br>
    <div> <a href="/stratABvA">Strategy AB vs A</a></div><br></br>
{% endblock %}